@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* @import "normalize.css"; */
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color-scheme: light only;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  touch-action: none;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  padding: 1rem;
}

#root {
  max-width: 1280px;
}

body::before {
  --line: color-mix(in lch, canvasText 25%, transparent);
  --size: 60px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      0 -5vmin / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(
        --size
      ) var(--size);
  mask: linear-gradient(-15deg, transparent 60%, white);
  top: 0;
  z-index: -1;
}

[data-split] {
  font-size: var(--font-size);
  font-weight: 600;
}

article {
  width: 600px;
  aspect-ratio: 2 / 1.1;
  min-height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 4em;
  /* max-width: calc(100% - 2rem); */
  /* background: hsl(0 0% 50%); */
}

article > img {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  height: 100%;
  width: 660px;
  object-fit: cover;
  object-position: center 43%;
  user-select: none;
  pointer-events: none;
}

article > .loading {
  position: absolute;
  left: 50%;
  top: 6%;
  margin: 0;
  font-size: 6rem;
  translate: -50% 0;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

input {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  border-width: 1px;
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 20rem;
}

:root {
  --x: 0;
  --y: 0;
  --font-size: clamp(2rem, 6vmin + 1rem, 4rem);
  /* --xtest: 0; */
}

article > img:first-of-type {
  filter: saturate(1.5) brightness(0.9);
  object-position: calc(-50% + (var(--x) * 30px)) calc(43% + (var(--y) * -20px));
}

article > img:last-of-type {
  object-position: calc(-50% + (var(--x) * 40px)) calc(43% + (var(--y) * -40px));
}

article h3 {
  position: absolute;
  left: 50%;
  top: 6%;
  margin: 0;
  font-size: 8rem;
  translate: -50% 0;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  translate: calc(-50% + (var(--xtest) * -30px)) calc(var(--ytest) * -20px);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.content {
  min-height: 32%;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  display: grid;
  gap: 0.2rem;
  place-items: center;
  align-content: center;
  padding-bottom: 0.5rem;
}

.content svg {
  width: 20px;
}

.content p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.content p:first-of-type::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 50%;
  width: 6ch;
  background: white;
  height: 1px;
  translate: -50% 0;
}

.content p:last-of-type {
  opacity: 0.8;
}

/* Blurring */
.blur {
  position: absolute;
  inset: 60% 0 -26% 0;
  filter: blur(20px);
  overflow: hidden;
}

.blur img {
  object-position: calc(-50% + (var(--x) * 40px))
    calc(47.5% + (var(--y) * -40px));
  object-fit: cover;
  left: 50%;
  translate: -50% 0;
  height: 330px;
  position: absolute;
  bottom: 25%;
  width: 660px;
  mask: radial-gradient(50% 100% at 50% 90%, white 50%, transparent);
  filter: saturate(1.5) brightness(0.8);
}

.cardshuffle {
  display: flex;
  margin-top: 2rem;
}

.codeblock {
  width: 50%;
}

.hero {
  height: 100vh;
}

/* .cardshuffle > div:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}

.cardshuffle > div:nth-child(even) article {
  transform: rotate(3deg);
} */

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}

.SliderTrack {
  background-color: var(--black-a10);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: #f4f4f5;
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
  border-radius: 10px;
}
.SliderThumb:hover {
  background-color: var(--violet-3);
}
.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--black-a8);
}

.SliderRoot[data-orientation="vertical"] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.SliderTrack[data-orientation="vertical"] {
  width: 3px;
}

.SliderRange[data-orientation="vertical"] {
  width: 100%;
}
